body, td, th, dd, dt, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  font-family: sans-serif;
}

body {
  font-size: 1.1em;
  margin: 0.1em;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

td, th {
}

input[type="text"], textarea, pre {
  font-family: monospace;
  font-size: 1.2em;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  flex: flex-grow;
  margin: 0;
  padding: 0.6em;
}

.compose-input {
  display: block;
  margin: 1em;
  padding: 0;
}

.email-fields input[type="text"] {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0.2em 0;
  width: 100%;
}

.mailbox-details {
  display: flex;
  justify-content: space-between;
}

.mailbox-details div {
  margin-bottom: 0.5em;
  flex: flex-grow;
}

.mailbox-subject {
  margin-bottom: 0.5em;
}

.mailsort-options {
  display: flex;
  border-bottom: 1px solid;
  border-top: 1px solid;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 0.3em 0;
}

.mailsort-options div {
  flex: flex-grow;
  padding: 0 0.6em;
  text-align: center;
}

.mailsort-options a {
  display: block;
  margin: 0.6em 0 0 0;
}

.message-info {
  border-bottom: 1px dotted;
  padding: 0.5em;
}

.signout {
  padding: 0.5em;
  text-align: right;
}

.view-message-count {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0.5em 0;
  padding: 0.5em;
  text-align: center;
}
